#container{
	height: 603px;
	width: 603px;
	margin: 0 auto;
	background-color: black;
}

.border-right{
	border-right: 1px solid white;
}

.border-left{
	border-left: 1px solid white;
}

.border-bottom{
	border-bottom: 1px solid white;
}

.float-left{
	float: left;
}

.quadrante{
	height: 200px;
	width: 200px;
}

.font-white{
	color: white;
	text-align: center;
	font-size: 170px;
}